<thead>
        <tr>
            <th>ID</th>
            <th>Posición X</th>
            <th>Posición Y</th>
            <th>Mes</th>
            <th>Día</th>
            <th>Hora</th>
            <th>Minuto</th>
            <th>Generada por trx num</th>
        </tr>
    </thead>
    <tbody>
        {% for dato in datos %}
        <tr>
            <td>{{ dato['id'] }}</td>
            <td>{{ dato['x_pos'] }}</td>
            <td>{{ dato['y_pos'] }}</td>
            <td>{{ dato['month'] }}</td>
            <td>{{ dato['day'] }}</td>
            <td>{{ dato['hour'] }}</td>
            <td>{{ dato['minute'] }}</td>
            <td>{{ dato['fk_id_transaccion'] }}</td>
        </tr>
        {% endfor %}
</tbody>